.header-content {
  font-family: "Inter", sans-serif;

  height: 100vh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30%;
    background-color: #0a236d;
  }

  &::before {
    content: "";
    width: 116px;
    height: 232px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url(/header__content/square.png);
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    margin-top: 214px;
    max-width: 500px;

    &-text {
      font-size: 16px;
      line-height: 25px;
      color: #6f7074;

      margin-top: 12px;
      margin-bottom: 30px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      button {
        font-size: 16px;
        line-height: 24px;
        border-radius: 4px;
        text-transform: uppercase;
        &.--shop {
          padding: 12px 25px;
          position: relative;

          background: #006ff9;
          color: #fff;

          transition: 0.4s;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 1px solid #006ff9;
            transition: 0.4s;
          }

          &:hover {
            background: transparent;
            color: #006ff9;
            transition: 0.4s;
          }

          &:hover::after {
            width: 100%;
            height: 100%;
            transition: 0.4s;
          }
        }

        &.--learn {
          padding: 12px 19px;
          margin-left: 20px;
          color: #006ff9;

          border: 1px solid #006ff9;
          background: transparent;

          transition: 0.4s;

          &:hover {
            background: #006ff9;
            color: #fff;
            transition: 0.4s;
          }
        }
      }
    }
  }

  &__img {
    margin-top: 101px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;

    &-item {
      text-decoration: none;
      transition: 0.4s;

      &:hover svg path {
        fill: #006ff9;
        transition: 0.4s;
      }
    }
  }
}
