* {
  font-family: "Inter", sans-serif;
}

@import "./blocks/*.scss";

.container {
  max-width: 1250px;
  margin: 0 auto;

  &.--header {
    max-width: 1400px;
    margin: 0 auto;
  }
}

body {
  &.--active {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  &-sup {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #006ff9;
    text-transform: uppercase;
  }

  &-sub {
    font-size: 44px;
    line-height: 52px;
    color: #212529;
  }
}

.title__second {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  &-sup {
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
    color: #212529;

    margin-bottom: 18px;
  }

  &-sub {
    font-size: 15px;
    line-height: 26px;
    color: #999;
  }
}

@media (max-width: 390px) {
  .title {
    &-sub {
      font-size: 1.75em;
    }
  }

  .title__second {
    &-sup {
      font-size: 1.75em;
    }
  }
}
